*{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    --color-container: #26687D;
    --color-content-container: #063A4A;
    --color-item1: #0F064A;
    --text-color: #ffffff;
}